# Add files here to ignore them from prettier formatting

CHANGELOG.md
packages/example/ios
packages/example/android
android/build
packages/example/vendor/bundle/
packages/lib/android/build
packages/lib/dist
packages/lib/plugin/build
.yarn
ios/DerivedData
