<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   AirMaps

   Created by Salah Ghanim on 20.05.24.
   Copyright (c) 2024 react-native-maps. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>NSFileModificationDate</key>
    <dict>
        <key>PurposeString</key>
        <string>We use the file modification date to manage and invalidate cached map tiles, ensuring the map data displayed to users is up-to-date.</string>
    </dict>
    </dict>
</plist>
