name: Pull Request

on:
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Install example dependencies
        run: yarn --frozen-lockfile
        working-directory: example

      - name: Lint
        run: yarn lint

      - name: TsCheck
        run: yarn tscheck

      - name: Check formatting
        run: yarn format-check

      - name: Test
        run: yarn test
