name: Pull Request

on:
  pull_request:
    types: 
      - opened # default
      - reopened # default
      - synchronize # default
      - edited # used to check pr title
    branches:
      - master
      - beta

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Lint PR title
        run: echo "${{ github.event.pull_request.title }}" | yarn commitlint

      - name: Lint
        run: yarn lint

      - name: TsCheck
        run: yarn tscheck

      - name: Test
        run: yarn test
